[Desktop Entry]
Version=1.0
Name=Firefox KIOSK
GenericName=Web KIOSK
Comment=Browse the World Wide Web in KIOSK mode
Exec=/usr/lib/firefox/firefox %u --kiosk -private-window http://localhost/n01.html
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
